<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Image</th>
                        <th>Price</th>
                        <th>Quantity Available</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let eachProduct of allProducts">
                        <td>{{ eachProduct.productName }}</td>
                        <td><img src={{ eachProduct.productImage }}></td>
                        <td>{{ eachProduct.productPrice }}</td>
                        <td>{{ eachProduct.productQuantity }}</td>
                        <td><button type="button" (click)="addToCart()">Add to cart</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


</div>